/* src/app/app.scss */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa; /* Fundo cinza claro como na imagem */
}

.main-content {
  flex-grow: 1;
  padding: 24px 32px;
  overflow-y: auto; /* Permite rolar o conteúdo da página */
}
